<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="otp"
             type="SharpOTP.Remote.Config.OTPSection, SharpOTP.Remote"/>
  </configSections>

  <!--cluster.dispatchPolicy: polling|hashMod|consistentHash|consistentHash_fnv1|consistentHash_ketama-->
  <otp name="otp_test"
       currNode="otp_test@192.168.10.32"
       enableMonitoring="true">
    <cluster cookie="otp_test"
             dispatchPolicy="consistentHash"
             remoteTimeout="10000">
      <nodes>
        <node name="otp_test@192.168.10.32"/>
        <!--<node name="otp_test@192.168.10.33"/>
        <node name="otp_test@192.168.10.34"/>
        <node name="otp_test@192.168.10.35"/>-->
      </nodes>
    </cluster>
    <rabbitMQ host="192.168.10.222"
              port="5672"
              userName="otp_test"
              password="123456"
              vhost="otp_test"
              exchange="otp_test"/>
  </otp>

</configuration>