<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="otp"
             type="SharpOTP.Remote.Config.OTPSection, SharpOTP.Remote"/>
  </configSections>

  <otp name="otp_test" enableMonitoring="false">
    <cluster cookie="otp_test" dispatchPolicy="consistentHash_ketama" remoteTimeout="5000">
      <nodes>
        <node name="otp_test@127.0.0.1_1"/>
        <node name="otp_test@127.0.0.1_2"/>
      </nodes>
    </cluster>
    <rabbitMQ host="192.168.10.222"
              port="5672"
              userName="otp_test"
              password="123456"
              vhost="otp_test"
              exchange="otp_test"/>
  </otp>

</configuration>